.footer {
    /* background-color: red; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.footer p {
    color: #fff;
}

@media(max-width: 1200px) {
    .footer {
        position: relative;
        top: 30%;
    }
}

@media(max-width: 1120px) {
    .footer {
        top: 35%;
    }
}

@media(max-width: 900px) {
    .footer {
        top: 60%;
    }
}

@media(max-width: 680px) {
    .footer {
        top: 65%;
    }
}

@media(max-width: 500px) {
    .footer {
        top: 70%;
    }
}

@media(max-width: 480px) {
    .footer {
        top: 80%;
    }
}

@media(max-width: 440px) {
    .footer {
        top: 90%;
    }
}

@media(max-width: 420px) {
    .footer {
        top: 95%;
    }
}